<div class="main-window">
    <div class="header">
        <div class="title">Tasks</div>
        <div class="control">
            <div class="form-group">
                <button class="btn btn-primary" id="add-task">Add Task</button>
                <button class="btn btn-danger" id="clear-tasks">
                    Clear all
                </button>
            </div>
        </div>
    </div>
    <div class="list-body">
        <div class="row">
            <div class="col-12">
                <ul class="list-group" id="task-list"></ul>
            </div>
        </div>
    </div>
</div>
<div id="alert-target"></div>
