<div class="full-page" id="parent">
    <div class="header">
        <div class="header-left">Web Pong</div>
        <div class="header-middle">
            <div class="score">Time: <span id="timer">0:00</span></div>
        </div>
        <div class="header-right">
            <button class="btn btn-primary" id="go">Start Game</button>
        </div>
    </div>
    <div class="content-body">
        <div class="instructions">
            <h2>Instructions</h2>
            <p>
                Use the a and z keys to move the paddle up and down. Try to hit
                the ball with the paddle to keep it in play.
            </p>
        </div>
        <div id="game-board"></div>
    </div>
</div>
