div {
    box-sizing: border-box;
}

.outside {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
}
#carousel-container {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    position: absolute;
    display: block;
    overflow: hidden;
}
.arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    opacity: 100%;
    z-index: 1;
}

#left-arrow {
    left: 0;
}
#right-arrow {
    right: 0;
}
.nav-btn {
    background: gray;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 30%;
    font-weight: blue;
}
.nav-btn > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.nav-btn:hover {
    opacity: 80%;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#carousel {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -33%;
    width: 166%;
    display: flex;
    overflow: hidden;
}

.cardcol {
    position: relative;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.carditem {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 1);
}

@keyframes left0 {
    from {
        transform: translateX(0) scale(0.6);
    }
    to {
        transform: translateX(-100%) scale(0.4);
    }
}
@keyframes right0 {
    from {
        transform: translateX(0) scale(0.6);
    }
    to {
        transform: translateX(100%) scale(0.8);
    }
}
@keyframes left1 {
    from {
        transform: translateX(0) scale(0.8);
    }
    to {
        transform: translateX(-100%) scale(0.6);
    }
}
@keyframes right1 {
    from {
        transform: translateX(0) scale(0.8);
    }
    to {
        transform: translateX(100%) scale(1);
    }
}

@keyframes left2 {
    from {
        transform: translateX(0) scale(1);
    }
    to {
        transform: translateX(-100%) scale(0.8);
    }
}
@keyframes right2 {
    from {
        transform: translateX(0) scale(1);
    }
    to {
        transform: translateX(100%) scale(0.8);
    }
}

@keyframes left3 {
    from {
        transform: translateX(0) scale(0.8);
    }
    to {
        transform: translateX(-100%) scale(1);
    }
}
@keyframes right3 {
    from {
        transform: translateX(0) scale(0.8);
    }
    to {
        transform: translateX(100%) scale(0.6);
    }
}
@keyframes left4 {
    from {
        transform: translateX(0) scale(0.6);
    }
    to {
        transform: translateX(-100%) scale(0.8);
    }
}
@keyframes right4 {
    from {
        transform: translateX(0) scale(0.6);
    }
    to {
        transform: translateX(100%) scale(0.4);
    }
}
#card1,
#card3 {
    transform: scale(0.8);
}
#card0,
#card4 {
    transform: scale(0.6);
}
.animate-0,
.animate-1,
.animate-2,
.animate-3,
.animate-4,
.animate-0-back,
.animate-1-back,
.animate-2-back,
.animate-3-back,
.animate-4-back {
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.animate-0 {
    animation-name: left0;
}
.animate-0-back {
    animation-name: right0;
}

.animate-1 {
    animation-name: left1;
}
.animate-1-back {
    animation-name: right1;
}
.animate-2 {
    animation-name: left2;
}
.animate-2-back {
    animation-name: right2;
}
.animate-3 {
    animation-name: left3;
}
.animate-3-back {
    animation-name: right3;
}
.animate-4 {
    animation-name: left4;
}
.animate-4-back {
    animation-name: right4;
}
