<div class="outside">
    <div class="arrow" id="left-arrow">
        <div id="left" class="nav-btn"><div><</div></div>
    </div>
    <div id="carousel-container">
        <div id="carousel">
            <div id="card0" class="cardcol">
                <div id="card0item" class="carditem"></div>
            </div>
            <div class="cardcol" id="card1">
                <div id="card1item" class="carditem"></div>
            </div>
            <div id="card2" class="cardcol">
                <div id="card2item" class="carditem"></div>
            </div>
            <div id="card3" class="cardcol">
                <div id="card3item" class="carditem"></div>
            </div>
            <div id="card4" class="cardcol">
                <div id="card4item" class="carditem"></div>
            </div>
        </div>
    </div>
    <div class="arrow" id="right-arrow">
        <div id="right" class="nav-btn"><div>></div></div>
    </div>
</div>
