<div class="hud-border"></div>
<div class="hud-container">
    <div id="hud">
        <div class="hud-left">
            X DeltaV:
            <div id="deltax">0</div>
            <br />
            Y DeltaV:
            <div id="deltay">0</div>
            <br />
            Alt: (msl):
            <div id="altitudemsl">0</div>
            <br />
            Alt: (ground):
            <div id="altitudeterrain">0</div>
        </div>
        <div class="hud-right">
            Fuel:
            <div id="fuel">1000</div>
            <br />
            Time:
            <div id="time">0</div>
            <br />Rotation (deg):
            <div id="rotation">0</div>
            <br />Status:
            <div id="status">flying</div>
        </div>
    </div>
</div>
