<div class="modal" id="popup">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-title" id="title"></span>
        </div>
        <div class="modal-body">
            <span id="alert-message"></span>
        </div>
        <div class="modal-footer">
            <div id="okTarget" class="hidden">
                <button class="btn btn-primary" id="alertBtn">OK</button>
            </div>
            <div id="okcancelTarget" class="hidden">
                <button class="btn btn-primary" id="okBtn">OK</button>
                <button class="btn btn-danger" id="cancelBtn">Cancel</button>
            </div>
        </div>
    </div>
</div>
