<div class="page">
    <div id="content">
        <div id="movie-imgs"></div>
    </div>
    <div class="detail">
        <div id="movie-title">&nbsp;</div>
        <div class="movie-info">
            <div class="movie-info-left">
                <div class="movie-card">
                <div class="line"><div class="left-info">Release Date: </div><div id="release-date" class="right-info"></div></div>
                <div class="line"><div class="left-info">Genres: </div><div id="genres" class="right-info"></div></div> 
                <div class="line"><div class="left-info">Runtime: </div><div id="runtime" class="right-info"></div></div>
                <div class="line"><div id="home-link"></div></div>
                <div class="line"><div id="imdb-link"></div></div>
                </div>
                </div>
                <div class="movie-info-right">
                    <div class="movie-card">
                    <div id="overview"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
