#movie-imgs {
    height: 100%;
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
}
#content {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    min-height: 200px;
    padding: 0;
}
.page {
    background: #333;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    min-width: 600px;
    text-align: center;
    background-image: url("assets/space.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: conver;
}
.detail {
    position: relative;
    border-top: solid 1px gold;
    overflow: hidden;
}
#movie-title {
    text-align: center;
    font-size: 40px;
    color: gold;
    border-bottom: 1px solid white;
}
.movie-info {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}
.movie-info > div {
    display: inline-block;
    width: 50%;
    color: gold;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}
.movie-info a {
    color: #fafafa;
    text-decoration: underline;
}
.movie-info a:hover {
    color: black;
    font-style: italic;
}
.left-info,
.right-info {
    vertical-align: top;
    display: inline-block;
}
.movie-info-left {
    box-sizing: border-box;
}
.line {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left-info {
    width: 150px;
    font-weight: bold;
}
.right-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.movie-card {
    flex: 1;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
    background: gray;
    color: #fafafa;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 1);
}
